.toolbar-title {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 12px 0;

  >.img-title {
    width: 40px;
    height: 40px;
  }

  > p {
    margin: 0;
  }
}

.card-item {
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.no-results-message {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  >.no-results-image {
    width: 120px;
    height: 120px;
  }
}

.pagination-buttons {
  bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: fixed;
  right: 20px;
}

.cards-grid {
  display: grid;
  gap: 10px;
  padding: 10px;
}

@media (min-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .filter-section {
    align-items: center;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .filter-section {
    >.city-name {
      flex-basis: calc(50% - 10px);
    }

    >.state{
      flex-basis: calc(20% - 10px);
    }

    margin-bottom: 10px;
  }
}
